{% extends 'base.html.twig' %}

{% block title %}New Url apothéose{% endblock %}

{% block body %}
    <h1>Create new Techno</h1>

    {{ include('urlapotheose/_form.html.twig') }}

    <a href="">back to list</a>
{% endblock %}
