{% extends 'base.html.twig' %}

{% block title %}New Apotheose{% endblock %}

{% block body %}
    <h1>Create new Apotheose</h1>

    {{ include('apotheose/_form.html.twig') }}

    <a href="{{ path('apotheose_index') }}">back to list</a>
{% endblock %}
